/* CSSリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ヘッダー */
header {
    background-color:cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
}

header nav ul {
    list-style: none;
    padding: 0px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: red;
}

/*　メインコンテンツ　*/
main {
    padding: 20px;
}

section {
    text-align: center;
}

.text {
    margin-bottom: 20px;
}

section p {
    margin-top: 20px;
}

.contact {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    /* box-shadow: 横方向のオフセット 縦方向のオフセット ぼかしの範囲 広がりの範囲 色; */
    box-shadow: 0px 0px;
    display: flex;  /* 子要素を横並びに */
    justify-content: center;  /* 横方向に中央揃え */
    align-items: center;  /* 縦方向に中央揃え */
    gap: 20px;  /* TELとMAILの間にスペースを設定 */
}

/*　フッター　*/
footer {
    background-color:dimgray;
    color: white;
    text-align: center;
}